header nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: inherit; /* use PaperMod's colors */
}

header .toggle-mode {
  margin-left: 1rem;
  cursor: pointer;
  background: none;
  border: none;
}